@()
@main() {

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Forum</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Create a new topic</strong>
            </p>
        </div>

        <form method="POST" autocomplete="on">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="email address" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="body" rows="3" placeholder="Text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}